#gd2 #data_update_tip {
    position: absolute;
    top: 2px;
    right: 15px;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    background-color: #34353b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

.div_ee8413b2_category_checked {
    background-color: darkred !important;
}

#gd5 #googleTranslateDiv {
    background-color: #34353b;
    padding: 2px 3px 6px 7px;
    margin-left: 10px;
    width: 120px;
    border: 1px solid #8d8d8d;
    border-radius: 3px;
    margin-bottom: 15px;
}

#gd5 #googleTranslateDiv #translateLabel {
    padding-left: 5px;
    font-weight: bold;
    font-size: 13px;
    padding-left: 2px;
}

#gd5 #googleTranslateDiv,
#gd5 #googleTranslateDiv #googleTranslateCheckbox,
#gd5 #googleTranslateDiv #translateLabel {
    cursor: pointer;
}

#div_ee8413b2_detail_clearBtn,
#div_ee8413b2_detail_addFavoriteBtn,
#div_ee8413b2_detail_searchBtn {
    width: 130px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #8d8d8d;
    background-color: #34353b;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 15px;
    display: none;
}

#gd5 #googleTranslateDiv:hover,
#div_ee8413b2_detail_clearBtn:hover,
#div_ee8413b2_detail_addFavoriteBtn:hover,
#div_ee8413b2_detail_searchBtn:hover,
.t_popular_toppane #googleTranslateDiv:hover {
    background-color: rgba(255, 246, 246, 0.397);
}

.glname table td.tc,
#taglist table td.tc {
    min-width: 50px;
}

#taglist::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

#taglist::-webkit-scrollbar-track {
    background-color: #2d2e32;
    border-radius: 10px;
}

#taglist::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border-radius: 10px;
}